<nav class="navbar navbar-default" role="navigation">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">IMarket</a>
  </div>
  <div class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
      <li><%= link_to "Sobre", pages_about_path %></li>
      <li><%= link_to "Contato", pages_contact_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Vendas <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Gerenciar Produtos", seller_path %></li>
            <li><%= link_to "Histórico de Vendas", sales_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name %> <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Histórico de Compra", purchases_path %></li>
            <li><%= link_to "Editar Conta", edit_user_registration_path %></li>
            <li><%= link_to "Sair", destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to "Inscrever-se", new_user_registration_path %></li>
        <li><%= link_to "Entrar", new_user_session_path %></li>
      <% end %>
    </ul>
  </div>

</nav>
